@charset "UTF-8";

/*em HTML e id = em CSS é #
em HTML é class = em CSS é.*/

body {
    background-color: #C9ADA7;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: #22223B;
}
h2{
color: #121220;

}
h1#principal{
    text-align: center;
    color: #C9ADA7;
    background-color: #22223B;
}
.basíco{
color: rgb(0, 128, 0);
font-weight: bold;
}
.intermedíario{
color: rgb(255, 255, 0);
}
.avançado{
color: rgb(255, 0, 0);
}
.destaque{
background-color: rgba(0, 0, 0, 0.658);    
}